#define SSID "<SSID name>"
#define WIFI_PASSWORD "<WiFi password>"
#define TELEGRAM_API_KEY "<Telegram API Key>"
#define TELEGRAM_USER_ID "<Telegram User ID>"
#define TELEGRAM_MESSAGE_ID "<Telegram Message ID>"
#define TELEGRAM_API_URL "https://api.telegram.org/bot"
#define AWS_CHECK_IP_URL "https://checkip.amazonaws.com"